---
layout: post
widgets:
#  - post_meta
  - table_of_content
  - share
  - global_contact
#  - comment
---

{%- if page.eyeCatcher -%}
<img class = "eyeCatcher" src = "{{ page.eyeCatcher }}"/>
{%- endif -%}

<h1 class = "articleH1">{{ heading | default: page.title | escape }}</h1>
<article class = "articleBody">
    {% include anchor_headings.html html=content anchorBody="" %}

    {%- if page.references -%}
    <h3 class = "articleH3">References</h1>
      {%- if page.references.photo -%}
      Picture from <a href="{{ page.references.photo.url }}">{{ page.references.photo.from }}</a> at {{ page.references.photo.source }}
      {%- endif -%}
      {%- if page.references.articles -%}
      
        <div>
        {%- for article_ref in page.references.articles -%}
            <span><i class = "nf baseline-arrow-right"></i> <a href="{{ article_ref.url }}">{{ article_ref.text }}</a> </span>
            {%- endfor -%}
        </div>
      {%- endif -%}
    {%- endif -%}
</article>
